#about
    padding: 30px
    .textcenter
        padding: 30px
        h1
            font-size: 50px
            font-weight: 700
            font-size: bold
            color: #110909
        h3
            margin: 20px
            font-size: 20px
            color: #110909
    .box
        .textbox
            h2
                font-size: 50px
                color: #110909
            h4
                font-size: 28px
                color: #110909
                font-weight: 700
                font-size: bold
