header
    position: fixed
    left: 0
    right: 0
    z-index: 1
    display: flex
    justify-content: space-between
    align-items: center
    background-color: #212529
    padding: 10px 0
    height: 70px
    background-color: #212529
    .imgbox
        width: 140px
        margin-left: 120px
    nav
        margin-right: 120px
        a
            font-size: 20px
            color: #ffff
            margin-right: 30px
            transition: 1s
            &:hover
                color: #dede30
    .btn
        display: flex
        align-items: center
        display: none
        font-size: 25px
        border-radius: 2px
        background-color: #253132
        color: #ffff
        border: 1px solid #c4baba
        padding: 2px
        cursor: pointer
        opacity: 0.6
        h1
            cursor: pointer
            font-size: 13px
            font-weight: 700
        .icon
            margin-left: 7px
            cursor: pointer

@media screen and ( min-width: 992px )
