#nice
    background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg")
    background-position: center center
    background-size: cover
    width: 100%
    .box
        height: 700px
        display: flex
        align-items: center
        justify-content: center
        .textbox
            h1
                margin-bottom: 20px
                font-size: 40px
                color: #ffff
            h2
                margin: 0 0 50px 0
                font-size: 90px
                color: #ffff
                font-weight: 700
            .btn
                padding: 18px 40px
                background-color: #ffc800
                font-size: 22px
                font-weight: 700
                color: #ffff
                h4
                    cursor: pointer
                &:hover
                    background-color: #c28d07
    @media screen and ( max-width: 990px )
        .box
            .textbox
                h1
                    font-size: 35px
                h2
                    font-size: 70px
