#our
    background-color: #c0c0c020
    .textbox
        padding: 10px
        h1
            font-size: 70px
            font-weight: 700
            font-size: bold
            color: #110909
        h3
            margin: 10px
            font-size: 20px
            color: #110909
        h2
            font-weight: 300
            font-size: 38px
        h4
            font-size: 18px
            padding: 5px
    .box
        text-align: center
        margin: 15px
        .imgbox
            width: 220px
            border-radius: 50%
            border: 8px solid #87818131
        .textbox
            text-align: center
        ul
            display: flex
            justify-content: center
            li
                margin: 10px
                .icon
                    display: flex
                    justify-content: center
                    align-items: center
                    cursor: pointer
                    background-color: #141313
                    color: #ffff
                    border-radius: 50%
                    padding: 20px
                    width: 10px
                    height: 10px
                    cursor: pointer
    .textbox
        p
            text-align: center
            font-size: 18px
            color: #6f7783
            line-height: 1.5
            margin: 40px 0 50px

    @media screen and ( max-width: 576px)
        .textbox
            h1
                font-size: 80px
            p
                font-size: 16px

    @media screen and ( max-width: 768px  )
        .textbox
            h3
                font-size: 16px
            p
                padding: 0
        .box
            ul
                margin-bottom: 40px

    @media screen and ( max-width: 992px )
        .textbox
            p
                font-size: 18px
