#services
    padding: 90px 0 90px 0
    margin: 90px 0 90px 0
    position: relative
    top: 200px
    bottom: 625px
    .textcenter
        h1
            padding: 30px
            position: relative
            top: 0px
            bottom: 125px
            font-size: 50px
            font-weight: 700
            font-size: bold
            color: #110909
        h3
            margin: 10px
            font-size: 20px
            color: #110909
    .box
        margin: 40px
        .minibox
            position: relative
            left: 85px
            right: 25px
            height: 150px
            width: 150px
            border-radius: 180px
            background-color: #ffc800
            li
                .icon
                    color: #ffff
                    font-size: 60px
    .textbox
        padding: 10px
        h2
            font-size: 29px
            font-weight: 700
            font-size: bold
        h4
            padding: 16px
            font-size: 20px
